DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/ai_dashboard?schema=public"

MYOB_CLIENT_ID=""
MYOB_CLIENT_SECRET=""
MYOB_COMPANY_FILE_ID=""
MYOB_API_BASE_URL=""

CONNECT_TEAM_API_BASE_URL=""
CONNECT_TEAM_API_KEY=""

INTERNAL_APP_API_BASE_URL=""
INTERNAL_APP_API_KEY=""

METRICS_REFRESH_SECRET="change-me"
